.list {
  .list-item {
    display: flex;
    align-items: center;
    min-width: $size-medium;
    min-height: $size-medium;
    padding: $spacing-small;
    border: $size-border solid $color-primary;

    &:not(:first-child) {
      margin-top: -$size-border;
    }
  }
}
