@use '../variables';

.tap-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  p {
    position: fixed;
    top: 20vh;
    width: calc(100% - 2 * variables.$spacing-medium);
  }

  p.error {
    top: 30vh;
  }

  textarea {
    width: 65vw;
    height: 15vh;
  }

  .keyboard {
    position: absolute;
    bottom: variables.$spacing-medium;
  }

  &.standard {
    textarea {
      align-self: flex-end;
    }

    .keyboard {
      right: variables.$spacing-medium;
    }
  }

  &.mirrored {
    textarea {
      align-self: flex-start;
    }

    .keyboard {
      left: variables.$spacing-medium;
    }
  }
}
