html,
body {
  font-family: Verdana, Georgia, Arial, 'Times New Roman', sans-serif;
  font-weight: normal;
  line-height: 1;
  color: $color-primary;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

.select-text {
  user-select: text;

  ::-moz-selection,
  ::selection {
    color: $color-primary;
    background: $color-secondary;
  }
}
