@use "../variables";

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: variables.$spacing-small;
  min-width: variables.$size-medium;
  min-height: variables.$size-medium;
  padding: variables.$spacing-small variables.$spacing-medium;
  color: variables.$color-primary;
  background-color: variables.$color-tertiary;
  border: variables.$size-border solid variables.$color-primary;

  &:disabled {
    background-color: variables.$color-secondary;
    color: variables.$color-primary;
  }
}
