@use '../mixins/interactions.scss';
@use '../variables';

@mixin form-element {
  width: 100%;
  min-width: variables.$size-medium;
  min-height: variables.$size-medium;
  padding: variables.$spacing-small variables.$spacing-medium;
  background-color: transparent;
  border: variables.$size-border solid variables.$color-primary;
  text-wrap: auto;

  &:not(:disabled) {
    @include interactions.outline-on-focus;
  }
}

form {
  display: grid;
  gap: variables.$spacing-medium;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='date'],
textarea {
  margin-top: variables.$spacing-small;

  @include form-element;
}

.label-group {
  label {
    display: grid;
    grid-template-columns: variables.$size-icon-small auto;
    gap: variables.$spacing-small;

    input[type='checkbox'],
    input[type='radio'] {
      -webkit-appearance: none;
      appearance: none;
      display: grid;
      place-content: center;
      width: calc(variables.$size-icon-small + 0.2em);
      height: calc(variables.$size-icon-small + 0.2em);
      background-color: transparent;
      color: variables.$color-primary;
      border: variables.$size-border solid variables.$color-primary;

      @include interactions.outline-on-focus;

      &::before {
        content: '';
        width: calc(variables.$size-icon-small - 0.3em);
        height: calc(variables.$size-icon-small - 0.3em);
        transform: scale(0);
        transition: variables.$speed-medium transform ease-in-out;
        box-shadow: inset variables.$size-icon-small variables.$size-icon-small
          variables.$color-primary;
      }

      &:checked::before {
        transform: scale(1);
      }
    }

    input[type='checkbox'] {
      border-radius: 5px;
    }

    input[type='radio'] {
      border-radius: 10px;

      &::before {
        border-radius: 10px;
      }
    }

    &:first-child {
      margin-top: variables.$spacing-small;
    }

    &:not(:first-child) {
      margin-top: variables.$spacing-small;
    }
  }
}

.select {
  @include form-element;

  display: grid;
  grid-template-areas: 'select';
  align-items: center;

  &::after {
    content: '';
    grid-area: select;
    justify-self: end;
    width: variables.$size-icon-small;
    height: calc(variables.$size-icon-small / 3 * 2);
    background-color: variables.$color-primary;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  }

  select {
    appearance: none;
    z-index: 1;
    grid-area: select;
    width: 100%;
    padding: 0 variables.$size-icon-small 0 0;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    &::-ms-expand {
      display: none;
    }
  }
}

.error {
  @include form-element;
  border: none;
  background-color: variables.$color-error;
}
