@use "../variables";

.keyboard {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-xxsmall;

  .row-1,
  .row-2,
  .row-3,
  .row-4 {
    display: flex;
    gap: variables.$spacing-xxsmall;
    justify-content: center;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: variables.$size-medium;
      height: variables.$size-medium;
      border: variables.$size-border solid variables.$color-primary;
      border-radius: 5px;

      &.key-medium {
        width: calc(variables.$size-large + variables.$spacing-xxsmall);
      }

      &.spacebar {
        width: calc(variables.$size-medium * 6 + variables.$spacing-xxsmall * 5);
      }

      &:active {
        background-color: variables.$color-secondary;
      }
    }
  }
}
