@use "../variables";

.list {
  .list-item {
    display: flex;
    align-items: center;
    width: 40vw;
    min-width: variables.$size-medium;
    min-height: variables.$size-medium;
    padding: variables.$spacing-small;
    border: variables.$size-border solid variables.$color-primary;

    &:not(:first-child) {
      margin-top: -(variables.$size-border);
    }
  }
}
