@use '../variables';

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 2 * variables.$spacing-medium);
  height: calc(100vh - 2 * variables.$spacing-medium);

  .loaderSpinner {
    width: 60px;
    aspect-ratio: 4;
    $circle: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
    background:
      $circle 0% 50%,
      $circle 50% 50%,
      $circle 100% 50%;
    background-size: calc(100% / 3) 100%;
    animation: spinner 1s infinite linear;
  }

  @keyframes spinner {
    33% {
      background-size:
        calc(100% / 3) 0%,
        calc(100% / 3) 100%,
        calc(100% / 3) 100%;
    }
    50% {
      background-size:
        calc(100% / 3) 100%,
        calc(100% / 3) 0%,
        calc(100% / 3) 100%;
    }
    66% {
      background-size:
        calc(100% / 3) 100%,
        calc(100% / 3) 100%,
        calc(100% / 3) 0%;
    }
  }
}
