.menu {
  svg {
    height: $size-medium;
    color: $color-primary;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      padding-top: $spacing-medium;
    }
  }
}
