@use '../variables';

.menu {
  svg {
    height: variables.$size-medium;
    color: variables.$color-primary;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -(variables.$size-border);
    border: variables.$size-border solid variables.$color-primary;

    li {
      padding-bottom: variables.$spacing-medium;

      &:first-child {
        padding-top: variables.$spacing-medium;
      }
    }
  }
}
