@use "../variables";

.menu {
  svg {
    height: variables.$size-medium;
    color: variables.$color-primary;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      padding-top: variables.$spacing-medium;
    }
  }
}
