@use '../variables';

.slider {
  width: 65vw;
  padding: variables.$spacing-xxsmall;
  border: variables.$size-border solid variables.$color-primary;
  border-radius: 25px;

  input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    height: variables.$size-large;
    background: transparent;
    outline: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      box-shadow: none;
      width: variables.$size-large;
      height: variables.$size-large;
      background: url('/public/Phone.svg') no-repeat center center;
      background-size: contain;
    }

    &::-moz-range-thumb {
      width: variables.$size-large;
      height: variables.$size-large;
      background: url('/public/Phone.svg') no-repeat center center;
      background-size: contain;
    }
  }
}
