@use '../variables';

main.end {
  display: grid;
  gap: variables.$spacing-medium;
  width: 100vw;
  height: auto;
  padding: variables.$spacing-medium;

  input[type='email'] {
    margin-top: 0;
  }
}
