@use "../variables";

main.experiment {
  width: 100vw;
  height: 100vh;
  padding: variables.$spacing-medium;
}

.task-instructions {
  .pop-up {
    display: grid;
    gap: variables.$spacing-small;
  }
}
