@use '../variables';

main.experiment {
  width: 100vw;
  height: 100vh;
  padding: variables.$spacing-medium;

  .task-set-instructions {
    h1 {
      margin: variables.$spacing-medium 0;
    }
  }

  .user-experience-test {
    .question {
      p {
        margin-bottom: variables.$spacing-small;
      }
    }
  }
}

.task-instructions {
  .pop-up {
    display: grid;
    gap: variables.$spacing-small;
  }
}
