@use '../variables';

main.start {
  width: 100vw;
  height: auto;
  padding: variables.$spacing-medium;

  .start-instructions {
    display: grid;
    gap: variables.$spacing-medium;

    ul,
    li {
      list-style: inside;
      list-style-type: disc;

      &:not(:last-child) {
        margin-bottom: variables.$spacing-small;
      }
    }
  }

  .laterality-test {
    .question {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      &:not(:nth-child(13)) {
        padding-bottom: variables.$spacing-medium;
        border-bottom: variables.$size-border solid variables.$color-primary;
      }

      p {
        grid-column: 1 / -1;
      }
    }
  }
}
