main.start {
  width: 100vw;
  height: auto;
  padding: $spacing-medium;

  .start-instructions {
    display: grid;
    gap: $spacing-medium;

    ul,
    li {
      list-style: inside;
      list-style-type: disc;

      &:not(:last-child) {
        margin-bottom: $spacing-small;
      }
    }
  }

  .laterality-test {
    .question {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      p {
        grid-column: 1 / -1;
        margin-bottom: $spacing-small;
      }
    }
  }
}
