@mixin basic-orientation {
  display: flex;

  &.standard {
    justify-content: end;
  }

  &.mirrored {
    justify-content: start;
  }
}

@mixin center-orientation {
  @include basic-orientation;
  align-items: center;
  width: 100%;
  height: 100%;
}
